@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f2f2f;
  --text-dark: #18181b;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora", serif;
  --base-font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  background-color: rgb(244, 245, 244);
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: rgb(2, 160, 50);
}

.section__subheader {
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn a {
  color: var(--white);
}

.btn:hover {
  background-color: var(--text-dark);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(244, 245, 244);
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  max-width: var(--max-width);
  margin: 25px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo img {
  width: 100px;
  height: auto;
  max-width: 100%;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.nav__links {
  display: flex;
  list-style: none;
  margin: 75px;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.link {
  margin-left: 1.5rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link a {
  position: relative;
  padding: 10px 0;
  color: var(--white);
  transition: 0.3s;
}

.link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.link a:hover::after {
  width: 100%;
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
}

.nav__actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav__actions span {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  text-align: center;
  color: var(--white);
  padding: 10vh 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.header__container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.header__container form {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-block: 0.25rem;
  padding-inline: 1.25rem 0.25rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 5rem;
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
}

.header__container input::placeholder {
  color: var(--white);
}

.header__container button {
  padding: 11px 12px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
}

.header__container a {
  display: inline-block;
  padding: 0 12px;
  font-size: 2.5rem;
  color: var(--white);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 100%;
}

.choose__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.choose__container .choose__bg {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  opacity: 0.15;
  z-index: -0.99;
}

.choose__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.choose__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  font-size: 1.25rem;
  background-color: #cad8d8;
  border-radius: 100%;
}

.choose__card h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 1200;
  font-family: var(--header-font);
  color: rgb(2, 160, 50);
}

.choose__card p {
  color: var(--text-dark);
}

.choose__image img {
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__container {
  padding-block: 5rem;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, var(--max-width))
    minmax(0, 1fr);
  row-gap: 2rem;
}

.offer__grid__top {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.offer__grid__bottom {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.offer__grid__bottom a img {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
  max-width: 100%;
}

.offer__container img {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__content {
  padding-right: 1rem;
}

.offer__content .section__subheader {
  margin-bottom: 2rem;
}

.craft__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
}

.craft__container .section__subheader {
  margin-bottom: 2rem;
}

.craft__image {
  position: relative;
  isolation: isolate;
}

.craft__image::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ebf1f1;
  border-radius: 15px;
  transition: 0.3s;
  z-index: -1;
}

.craft__image:hover::before {
  height: 80%;
}

.craft__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #cad8d8;
  border-radius: 15px;
}

.craft__image__content {
  padding-bottom: 2rem;
  text-align: center;
  transition: 0.3s;
}

.craft__image__content img {
  margin-bottom: 1rem;
  max-width: 250px;
  margin: auto;
}

.craft__image__content p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.craft__image__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.craft__image:hover .craft__image__content {
  transform: translateY(-2rem);
}

.craft__image a {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 50%);
  padding: 0 7px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.3s;
}

.craft__image:hover a {
  opacity: 1;
}

.testimonial__container .section__header {
  text-align: center;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.testimonial__card {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.testimonial__card p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--text-dark);
  text-align: left;
}

.testimonial__card img {
  max-width: 60px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.testimonial__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.swiper-slide img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  border-radius: 50%;
}

.swiper-slide h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.swiper-slide h4 span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.25rem 1rem;
  font-size: 0.85rem;
  color: var(--text-light);
  background-color: rgb(2, 160, 50);
  border-radius: 5rem;
}

.swiper-slide p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modern__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__image {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 470px;
  margin: auto;
}

.modern__bg {
  position: absolute;
  max-width: 200px;
  right: 0;
  top: -4rem;
  opacity: 0.5;
}

.modern__img-1,
.modern__img-2,
.modern__img-3 {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.modern__img-1 {
  max-width: 375px;
}

.modern__img-2 {
  max-width: 175px;
  right: 0;
}

.modern__img-3 {
  max-width: 255px;
  right: 0;
  bottom: -2rem;
}

.modern__grid {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__card {
  display: flex;
  gap: 1rem;
}

.modern__card span {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--text-dark);
}

.modern__card p {
  color: var(--text-light);
}

/* Blog Section */
.blog__container {
  padding: 3rem 1rem;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.blog__card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.blog__card:hover {
  transform: translateY(-5px);
}

.blog__card img {
  width: 100%;
  height: auto;
}

.blog__card h4 {
  font-size: 1.25rem;
  color: var(--primary-color);
  margin: 0.5rem 0;
}

.blog__card p {
  color: var(--text-light);
  margin-bottom: 1rem;
}

.blog__card .btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blog__card .btn:hover {
  background-color: var(--primary-dark);
}

/* Footer Section */
.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  border-bottom: 1px solid var(--white);
}

.footer__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--white);
}

.footer__content p {
  color: var(--white);
}

.footer__form form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
}

.footer__form input {
  width: 100%;
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

.footer__form button {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__logo h4 a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__logo p {
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--white);
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.footer__link img {
  color: #fff;
}

@media (max-width: 1200px) {
  .offer__container {
    row-gap: 1rem;
  }
  .offer__grid__top,
  .offer__grid__bottom {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .craft__container {
    gap: 1rem;
  }

  .modern__container {
    gap: 1rem;
  }
  .modern__grid {
    gap: 0.5rem;
  }
}

@media (max-width: 900px) {
  .nav__actions {
    display: none;
  }
  .choose__container {
    grid-template-columns: 1fr;
  }
  .choose__grid {
    grid-template-columns: 1fr;
  }
  .offer__grid__top,
  .offer__grid__bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .craft__container {
    grid-template-columns: 1fr;
  }
  .modern__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
  .blog__grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

@media (max-width: 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: #000000;
    z-index: 99;
  }

  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header__container h1 {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    padding-inline: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials__slider {
    padding-inline: 1rem;
  }
  .testimonials__container .swiper-slide {
    padding: 1rem;
  }
  .section__container {
    padding: 2rem 1rem;
  }
  .section__header {
    font-size: 2rem;
  }
  .modern__container {
    gap: 1rem;
  }
  .modern__grid {
    gap: 0.5rem;
  }
  .modern__card p {
    font-size: 0.9rem;
  }
  .blog__grid {
    grid-template-columns: 1fr;
  }
  .footer__bar {
    flex-direction: column;
  }
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav__links {
    display: flex; /* Hide navigation links */
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background color */
    position: absolute;
    top: 4rem; /* Adjust top position as needed */
    left: 0;
    width: 100%;
  }

  .nav__links.show {
    display: flex; /* Show navigation links when menu button is clicked */
  }

  .link {
    margin: 1rem 0; /* Adjust margin as needed */
  }

  .nav__menu__btn {
    display: block; /* Show menu button */
    cursor: pointer;
  }
}
